:root {
  --primary-color: #1d1f20;
  /* --primary-color: #010601; */
  --secondary-color: #c7bcb6;
  --tertiary-color: #d28c07;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ====================

chakra uiと併用のcss

==================== */
.transformX50 {
  transform: translateX(-50%);
}
.fwb {
  font-weight: bold;
}
/* Headingタグを使うと、_appで設定のZenMaruになるため、他のタグを付与すること */
.font-ttl {
  font-family: 'Darumadrop One';
  font-size: 2rem;
}
.message.own-message {
  text-align: right;
}
.message.own-message .css-1yp4ln {
  display: block;
}
.stars {
  display: flex;
}
.myroom .stars {
  pointer-events: none;
}

.width100 {
  width: 100%;
}
.neon {
  /* -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5) !important;
  -moz-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5) !important;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(74, 234, 220, 0.5) !important; */
  /* filter: drop-shadow(0 0 10px rgb(74, 234, 220)) drop-shadow(0 0 15px rgb(74, 234, 220)); */
}
