:root {
  --primary-color: ;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ====================

chakra uiと併用のcss

==================== */
.fwb {
  font-weight: bold;
}
/* Headingタグを使うと、_appで設定しているZenMaruになるため、気をつける！ */
.font-ttl {
  font-family: 'Darumadrop One';
  font-size: 2rem;
}
.message.own-message {
  text-align: right;
}
.stars {
  display: flex;
}
.myroom .stars {
  pointer-events: none;
}
