:root {
  --primary-color: #1d1f20;
  --secondary-color: #c7bcb6;
  --tertiary-color: #d28c07;
  /* --primary-color: #010601; */
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ====================

chakra uiと併用のcss

==================== */
.transformX50 {
  transform: translateX(-50%);
}
.fwb {
  font-weight: bold;
}
/* Headingタグを使うと、_appで設定のZenMaruになるため、他のタグを付与すること */
.font-ttl {
  font-family: 'Darumadrop One';
  font-size: 1.3rem;
}
@media (min-width: 576px) {
  .font-ttl {
    font-size: 1.8rem;
  }
}
.font-ttl-sm {
  font-family: 'Darumadrop One';
  font-size: 1.3rem;
}
@media (min-width: 992px) {
  .font-ttl-sm {
    font-size: 1.5rem;
  }
}
.message.own-message {
  text-align: right;
}
.message.own-message .css-1yp4ln {
  display: block;
}
.stars {
  display: flex;
}
.width100 {
  width: 100%;
  flex: 1 auto;
}
